= simple_form_for(@pin,html: {class: 'form-horizontal'}) do |f|
  - if @pin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pin.errors.count, "error")} prohibited this pin from being saved:"
      %ul
        - @pin.errors.full_messages.each do |msg|
          %li= msg
  =f.input :title
  =f.input :description
