.page-header
  %h1.text-center
    Pinned to
    =@board.title
  = link_to new_board_pin_path(@board), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Pin
#pins-container
  -@pins.each do |pin|
    =render pin
.pagination
  =will_paginate @pins
