.page-header
  %h1 Listing pins
  = link_to new_board_pin_path(@board), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Pin
-@pins.each do |pin|
  =render pin
.pagination
  =will_paginate @pins
