.page-header
  = link_to new_board_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Board


.boards
  -@boards.each do |board|
    =render board
.pagination
  =will_paginate @boards
