.board {
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  .title {
    padding: 10px;
    font-size: 28px;
    align-content: center;
    color: #222222;
  }
  .description {
    color: #333333;
  }
}