.pin {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: $pin-border-radius;
  background-color: #f9f9f9;
  img {
    width: 300px;
  }
  .title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px;
    padding-bottom: 3px;
    color: #222222;
  }
  .description {
    padding: 10px;
    color: #333333;
  }
}
